<h2>Cadastrar Empregado</h2>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label>Nome</label>
      <input type="text" class="form-control" [(ngModel)]="employee.name">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label>Salário</label>
      <input type="number" class="form-control" [(ngModel)]="employee.salary">
    </div>
  </div>
</div>
<div class="row" *ngIf="employee.salary < 1000">
  <div class="col-md-12">
    <div class="form-group">
      <label>Bônus</label>
      <input type="number" class="form-control" [(ngModel)]="employee.bonus">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-right">
    <button type="button" class="btn btn-primary" (click)="addEmployee($event)">Adicionar empregado</button>
  </div>
</div>
